<manifest package="com.zeyad.generic.genericrecyclerview"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".AdapterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.zeyad.generic.genericrecyclerview.adapter.screens.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zeyad.generic.genericrecyclerview.adapter.screens.user.list.UserListActivity"
            android:label="@string/title_user_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.zeyad.generic.genericrecyclerview.adapter.screens.user.detail.UserDetailActivity"
            android:parentActivityName=".adapter.screens.user.list.UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adapter.screens.user.detail.UserDetailActivity" />
        </activity>
    </application>
</manifest>
